/*Jai*/
h2{
    font-family: "capitolina", serif;
    font-weight: 700;
    font-style: normal;
    }
    h3{
    font-family: "capitolina", serif;
    font-weight: 550;
    font-style: normal;
    }
    p{
    font-family: "capitolina", serif;
    font-weight: 400;
    font-style: normal;
    }

.grid-container {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-gap: 12px;
}

.grid-item {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

body{
    background-color: #997646;
}

.navbar {
    grid-column: 1 / span 3;
    grid-row: 1;
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px 0;
}


.navbar a {
    /* Float the links to the left */
    display: block;
    /* Display links as block elements */
    color: #C19ACB;
    /* Link text color */
    text-align: center;
    padding: 14px 16px;
    /* Link padding */
    text-decoration: none;
    /* Remove underlines from links */
}

.navbar li{
    display: inline-block;
}

/* Change the link color on hover */
.navbar a:hover {
    background-color: #4CAF50;
    /* Hover background color */
    color: #fff;
    /* Hover text color */
}

/* Style the navbar dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style the dropdown button */
.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: #C19ACB;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin-right: 80px;
    margin-left: 80px;
}

/* Change the dropdown button color on hover */
.dropdown:hover .dropbtn {
    background-color: #4CAF50;
    /* Hover background color */
    color: #fff;
    /* Hover text color */
}

/* Style the dropdown content */
.dropdown-content {
    display: none;
    /* Hide the dropdown content by default */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    

}

/* Style the dropdown links */
.dropdown-content a {
    float: none;
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}

/* Change the dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    /* Hover background color */
}

/* Show the dropdown content when hovering over the dropdown */
.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown2 {
    position: relative;
    display: inline-block;
}

/* Style the dropdown button */
.dropdown2 .dropbtn2 {
    font-size: 20px;
    border: none;
    outline: none;
    color: #C19ACB;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    
}

/* Change the dropdown button color on hover */
.dropdown2:hover .dropbtn2 {
    background-color: #4CAF50;
    /* Hover background color */
    color: #fff;
    /* Hover text color */
}

/* Style the dropdown content */
.dropdown-content2 {
    display: none;
    /* Hide the dropdown content by default */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

/* Style the dropdown links */
.dropdown-content2 a {
    float: none;
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Change the dropdown links on hover */
.dropdown-content2 a:hover {
    background-color: #ddd;
    /* Hover background color */
}

/* Show the dropdown content when hovering over the dropdown */
.dropdown2:hover .dropdown-content2 {
    display: block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
  }