/*Jai*/
h1{
    font-family: "capitolina", serif;
    font-weight: 900;
    font-style: bold;
    }
    h2{
    font-family: "capitolina", serif;
    font-weight: 700;
    font-style: normal;
    }
    h3{
    font-family: "capitolina", serif;
    font-weight: 550;
    font-style: normal;
    }
    p{
    font-family: "capitolina", serif;
    font-weight: 400;
    font-style: normal;
    }

.grid-container {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-gap: 12px;
}

.grid-item {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

body{
    background-color: #997646;
}

.logo{
    grid-column: 1 / span 4;
    grid-row: 1;
    
}

.navbar {
    grid-column: 1 / span 4;
    grid-row: 2;
    background-color: green;
    text-align: center;
    padding: 10px 0;
    font-family: "capitolina", serif;
    font-weight: 500;
    font-style: bold;
}



.navbar a {
    /* Float the links to the left */
    display: block;
    /* Display links as block elements */
    color: #D32F2F;
    /* Link text color */
    text-align: center;
    padding: 14px 16px;
    /* Link padding */
    text-decoration: none;
    /* Remove underlines from links */
}

.navbar li{
    display: inline-block;
}

/* Change the link color on hover */
.navbar a:hover {
    background-color: #4CAF50;
    /* Hover background color */
    color: #fff;
    /* Hover text color */
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
  }